<app-navbar></app-navbar>

<div class="container">
  <div>
    <button
      mat-raised-button
      style="background: #000000; color: #ffffff"
      (click)="openFormCreate()"
    >
      Registrar nuevo
    </button>
  </div>
  <div>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Correo electronico</th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Número celular</th>
        <td mat-cell *matCellDef="let row">{{ row.phoneNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            style="color: #000000"
            (click)="openFormUpdate(row)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            style="color: #ff4a67"
            (click)="openDelete(row.id, row.name, row.lastName)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>

